@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
}

* {
  margin: 0;
  padding: 100;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #c026d3 0%,
    #7c3aed 40%,
    #2563eb 100%
  );

  min-height: 100vh;
  color: #111827;
  font-family: Inter, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a78bfa;
  border-radius: 20px;
}